<!-- Header -->
<header class="header">
  <h1>Cadastro de Cartões</h1>

  <div class="user-area">
    <span class="user-name">Olá, Usuário</span>
    <i class="fa-solid fa-circle-user"></i>
  </div>
</header>
<!-- Conteúdo -->
<main class="content">
  <div class="card">
    <h2>Novo Cartão</h2>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="form">
      <div class="form-group">
        <label for="name">Nome do Cartão: *</label>
        <input formControlName="name" type="text" id="name" name="name" placeholder="Ex: Nubank" />

        @if (form.controls.name.hasError('required') && form.controls.name.touched) {
          <span class="form-hint form-hint-error"> O nome do cartão é obrigatório. </span>
        }

        @if (form.controls.name.hasError('apiError') && form.controls.name.touched) {
          <span class="form-hint form-hint-error">
            {{ form.get('name')?.errors?.['apiError'] }}
          </span>
        }
      </div>

      <div class="form-group">
        <label for="cardNetwork">Bandeira</label>
        <select formControlName="cardNetwork" id="cardNetwork">
          <option value="">Selecione...</option>
          <option value="VISA">Visa</option>
          <option value="MASTERCARD">Mastercard</option>
          <option value="AMERICAN_EXPRESS">American Express</option>
          <option value="DINERS">Diners</option>
          <option value="ELO">Elo</option>
        </select>

        @if (form.controls.cardNetwork.hasError('required') && form.controls.cardNetwork.touched) {
          <span class="form-hint form-hint-error"> O nome da bandeira é obrigatório. </span>
        }

        @if (form.controls.cardNetwork.hasError('apiError') && form.controls.cardNetwork.touched) {
          <span class="form-hint form-hint-error">
            {{ form.get('cardNetwork')?.errors?.['apiError'] }}
          </span>
        }
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-primary">Salvar</button>
        <button type="button" class="btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>
</main>
